*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 900px;
    width: 900px;
    border: 2px solid black;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    

}

.box{
    border: 2px solid red;
}

#box-1{
    background-color: blue;
    grid-column: 1/4;
    
 
}

#box-2{
    background-color: sienna;
    grid-row: 2/4;
  
}

#box-3{
    background-color: lightseagreen;
   
    
}

#box-4{
    background-color:lime;
  
}

#box-5{
    background-color:lime;
}

#box-6{
    background-color: lightseagreen;
    
}

#box-7{
    background-color: yellow;
    grid-column: 1/-2;
    
}
#box-8{
    background-color: lightcoral;
    grid-area: 4/3/6/4;
}
#box-9{
    background-color: rgb(112, 38, 38);
    grid-column: 1/-2;

}