* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  scroll-behavior: smooth;
  color: white;
  background-color: #000000;
   transition: all 0.1s ease-in-out;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background-color: #00050c;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), rgb(0, 0, 0, 0));
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}

.nav-left {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
nav a {
  color: white;
  font-weight: 500;
  font-size: 18px;
}
nav a:hover {
  background-color: white;
    color: black;
}
.logo {
  height: 15px;
}
.subscription,
.grid {
  filter: invert(1);
  height: 22px;
  width: 22px;
}
.nav-right {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.user {
  height: 35px;
  width: 35px;
}
.join {
  border: none;
  border-radius: 5px;
  height: 45px;
  width: 110px;
  background-color: #1a98ff;
  font-size: 17px;
  color: white;
  font-weight: 600;
}
.join:hover{
 background-color: #1ba0ff;
   scale: 1.1;
  box-shadow:
    #1ba0ff 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

}
.dropdown {
  position: relative;
}
.language {
  display: none;
  position: absolute;
  column-count: 4;
  gap: a;
  top: 50px;
  right: -180px;
  background-color: rgb(red, green, blue);
  padding: 20px;
  backdrop-filter: blur(10px);
}
.dropdown:hover .language {
  display: block;
}
#hero{
  background-image: url(./asset/movie.avif);
  height: 80vh;
  width: 100vw;
  background-size:contain ;
  background-repeat: no-repeat;
}
