*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    height: 800px;
    width: 800px;
    border: 2px solid black;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
  
    gap: 10px;
}
.box{
 
    border: 2px solid rgb(226, 14, 14);
}

#box-1{
    background-color: blue;
    grid-row: 1/4;
}

#box-2{
    background-color: sienna;
    grid-column: 2/4;
}

#box-3{
    background-color: lightseagreen;
    /* grid-area: 1/5/2/5; */
    /* grid-column: 3/2;
    grid-row:1/4 ; */

}

#box-4{
    background-color: grey;
}

#box-5{
    background-color:lime;
}

#box-6{
    background-color: lightcyan;
    grid-area: 2/4/4/5;
}

#box-7{
    background-color: yellow
}
#box-8{
    background-color: lightcoral;
}
